body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

#result-box {
    margin-top: 20px;
}

.book-card {
    margin-bottom: 10px;
    padding: 10px;
    border-left: 3px solid black;
    background: #f2f2f2;
}
